/.project
/.svn/
/docs/
/env.dev/profiles/oa-dev/*.bat
/env.dev/instance/.svn/
/env.dev/instance/infrastructure/tomcat/temp/*.data
/env.dev/instance/infrastructure/tomcat/temp/*.lock
/env.dev/instance/infrastructure/tomcat/logs
/env.dev/instance/infrastructure/tomcat/webapps
/env.dev/instance/infrastructure/tomcat/work
/env.dev/instance/infrastructure/tomcat/conf/Catalina
/env.dev/instance/plugins/bokesoft.com/yigo2/Designer/History.properties
/env.dev/instance/plugins/bokesoft.com/yigo2/Designer/Yigo-redist.properties
/env.dev/instance/plugins/bokesoft.com/yigo2/Designer/dbcp.properties
/env.dev/instance/plugins/bokesoft.com/yigo2/Designer/license
/env.dev/instance/plugins/bokesoft.com/yigo2/Designer/log4j.properties
/env.dev/instance/plugins/bokesoft.com/yigo2/Designer/quartz_jobs.xml
/env.dev/instance/plugins/bokesoft.com/yigo2/app/launcher.properties
/env.dev/instance/plugins/bokesoft.com/yigo2/webapps/yigo/App.md5
/env.dev/instance/plugins/bokesoft.com/yigo2/webapps/yigo/Resource
/env.dev/instance/plugins/bokesoft.com/yigo2/webapps/yigo/WEB-INF/classes/Yigo-redist.properties
/env.dev/instance/plugins/bokesoft.com/yigo2/webapps/yigo/WEB-INF/classes/core.properties
/env.dev/instance/plugins/bokesoft.com/yigo2/webapps/yigo/WEB-INF/classes/dbcp.properties
/env.dev/instance/plugins/bokesoft.com/yigo2/webapps/yigo/WEB-INF/classes/license
/env.dev/instance/plugins/bokesoft.com/yigo2/webapps/yigo/WEB-INF/classes/quartz_jobs.xml
/env.dev/instance/services/bokesoft.com/messager/client-browser/modules/.svn/
/env.dev/instance/services/bokesoft.com/messager/client-app
/env.dev/modules/yigo2/Config.md5
/env.dev/profiles/oa-dev/.runtime
/env.dev/profiles/oa-dev/im-data
/env.dev/profiles/oa-dev/logs
