<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bokesoft.ecomm.im.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/BKIMActivity.NoActionBar" />
        <!-- 会话详情页 -->
        <activity
            android:name=".activity.ConversationActivity"
            android:launchMode="singleTask"
            android:theme="@style/BKIMActivity.NoActionBar" />
        <activity
            android:name=".activity.ImageActivity"
            android:theme="@style/BKIMActivity.NoActionBar" />
        <activity
            android:name=".activity.FileActivity"
            android:theme="@style/BKIMActivity.NoActionBar" />
        <!-- 查找好友的Activity -->
        <activity
            android:name=".activity.AddConversionPopupActivity"
            android:theme="@style/dialog" />
        <!-- 展示聊天记录的Activity -->
        <activity
            android:name=".activity.HistorySearchActivity"
            android:theme="@style/BKIMActivity.NoActionBar" />
        <!-- 展示指定ID的聊天记录的Activity -->
        <activity
            android:name=".activity.SpecifiedSearchActivity"
            android:theme="@style/BKIMActivity.NoActionBar" />
        <!-- 搜索内容的Activity -->
        <activity
            android:name=".activity.ContentSearchActivity"
            android:theme="@style/BKIMActivity.NoActionBar" />

        <service
            android:name=".services.WebSocketService"
            android:enabled="true" />

    </application>

</manifest>