<div class="task-container">
<!-- 	<a class="filter">筛选</a> -->
	<div class="item todo">
		<h3><span class="todo">待处理任务</span></h3>
		<div class='item_c'>
			<div class="cont Pending-list">
			</div>
			<div class='item_c-listPager Pending-listPager'></div>
		</div>
	</div>
	<div class="item backed">
		<h3><span class="backed">退回给我的任务</span></h3>
		<div class='item_c'>
			<div class="cont backed-list">
			</div>
			<div class='item_c-listPager backed-listPager'></div>
		</div>
	</div>
	<div class="item loved">
		<h3><span class="loved">我关注的任务</span></h3>
		<div class='item_c'>
			<div class="cont loved-list">
			</div>
			<div class='item_c-listPager loved-listPager'></div>
		</div>
	</div>
</div>
<!-- 分页代码支持文件 -->
<script type="text/javascript" src="${staticRoot}/resources/@buildin/js/lodash.min.js"></script>
<script type="text/javascript" src="${staticRoot}/resources/@buildin/js/estorecommon.js"></script>
<script type="text/javascript" src="${staticRoot}/resources/@buildin/js/jquery.paging.js"></script>
<script type="text/template" class="Pending-list-template">
<table>
	<thead>
	<tr>
		<th class='tdwidth10 workid'>任务ID</th>
		<th class='tdwidth20 workname'>任务名称</th>
		<th class='tdwidth10 operator'>提交人</th>
		<th class='tdwidth20 arrivetime'>任务到达时间</th>
		<th class='tdwidth10 currentprocessor'>当前处理</th>
		<th class='tdwidth20 staytime'>停留时间</th>
		<th class='tdwidth10 operate'>操作</th>
	</tr>
	</thead>
	<tbody>
	<% 
		Date.prototype.format = function(fmt) { 
			var o = { 
        				"M+" : this.getMonth()+1,                 //月份 
        				"d+" : this.getDate(),                    //日 
       					"h+" : this.getHours(),                   //小时 
        				"m+" : this.getMinutes(),                 //分 
        				"s+" : this.getSeconds(),                 //秒 
    				}; 
   			if(/(y+)/.test(fmt)) {
            	fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    							}
     		for(var k in o) {
        		if(new RegExp("("+ k +")").test(fmt)){
             		fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         	}
     	}
    		return fmt;
			} 

	_.each(items, function(todo){ %>
				<tr>
					<td><%= todo.WORKITEMID%></td>
					<td><a onclick="openWorkitem(<%= todo.WORKITEMID%>)"><span><%= todo.TOPIC%></span></a></td>
					<td><%= todo.OPERATORNAME%></td>
					<td><%= new Date(todo.CREATTIME).format("yyyy-MM-dd hh:mm:ss") %></td>
					<td><%= todo.WORKITEMNAME%></td>
					<td><%= todo.DAYTIME%><span class="time day">天</span><%= todo.HOURTIME%><span class="time hour">小时</span> </td>
					<td><nobr><a class="min_btn todo" onclick="openWorkitem(<%= todo.WORKITEMID%>)">处理</a>
                      <a class="min_btn loved" onclick="attention(<%= todo.WORKITEMID%>,<%= todo.OID%>,'<%= todo.FORMKEY%>')">关注</a></nobr></td>
				</tr>	

	<% }); %>
	</tbody>
</table>
</script>
<script type="text/javascript">
$(function () {
  	//分页查询方法
	var Pendinglist = function(defaultPageNo){
		estoreCommon.pagingShow({
			pager:" .Pending-listPager",
			render:" .Pending-list",
			tmpl: " .Pending-list-template",
			format: '[<ncnnn>]',
			defaultPageNo: defaultPageNo,
			dataCallback: function(pageNo,callback){
				var pager = this;
				estoreCommon.postJson(
					"/yigo/Pending-list.action",{no:2,pageNo:pageNo},
					function(pageData){		
						callback.call(pager,pageData);
   						localeString();
					}
				);
			},
		});
	};
	Pendinglist();
});
</script>
<script type="text/template" class="backed-list-template">
<table>
	<thead>
	<tr>
		<th class='tdwidth10 workid'>任务ID</th>
		<th class='tdwidth20 workname'>任务名称</th>
		<th class='tdwidth10 operator'>提交人</th>
		<th class='tdwidth20 arrivetime'>任务到达时间</th>
		<th class='tdwidth10 currentprocessor'>当前处理</th>
		<th class='tdwidth20 staytime'>停留时间</th>
		<th class='tdwidth10 operate'>操作</th>
	</tr>
	</thead>
	<tbody>
	<% 
		Date.prototype.format = function(fmt) { 
			var o = { 
        				"M+" : this.getMonth()+1,                 //月份 
        				"d+" : this.getDate(),                    //日 
       					"h+" : this.getHours(),                   //小时 
        				"m+" : this.getMinutes(),                 //分 
        				"s+" : this.getSeconds(),                 //秒 
    				}; 
   			if(/(y+)/.test(fmt)) {
            	fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    							}
     		for(var k in o) {
        		if(new RegExp("("+ k +")").test(fmt)){
             		fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         	}
     	}
    		return fmt;
			}

	_.each(items, function(todo){ %>
				<tr>
					<td><%= todo.WORKITEMID%></td>
					<td><a onclick="openWorkitem(<%= todo.WORKITEMID%>)"><span><%= todo.TOPIC%></span></a></td>
					<td><%= todo.OPERATORNAME%></td>
					<td><%= new Date(todo.CREATTIME).format("yyyy-MM-dd hh:mm:ss") %></td>
					<td><%= todo.WORKITEMNAME%></td>
					<td><%= todo.DAYTIME%><span class="time day">天</span><%= todo.HOURTIME%><span class="time hour">小时</span> </td>
                    <td><nobr><a class="min_btn todo" onclick="openWorkitem(<%= todo.WORKITEMID%>)">处理</a>
                    <a class="min_btn loved" onclick="attention(<%= todo.WORKITEMID%>,<%= todo.OID%>,'<%= todo.FORMKEY%>')">关注</a></nobr></td>
				</tr>	

	<% }); %>
	</tbody>
</table>
</script>
<script type="text/javascript">
$(function () {
	//分页查询方法
	var backedlist = function(defaultPageNo){
		estoreCommon.pagingShow({
			pager:" .backed-listPager",
			render:" .backed-list",
			tmpl: " .backed-list-template",
			format: '[<ncnnn>]',
			defaultPageNo: defaultPageNo,
			dataCallback: function(pageNo,callback){
				var pager = this;
				estoreCommon.postJson(
					"/yigo/backed-list.action",{no:2,pageNo:pageNo},
					function(pageData){		
						callback.call(pager,pageData);
   						localeString();
					}
				);
			},
		});
	};
	backedlist();
});
</script>
<script type="text/template" class="loved-list-template">
<table>
	<thead>
	<tr>
		<th class='tdwidth10 workid'>任务ID</th>
		<th class='tdwidth20 workname'>任务名称</th>
		<th class='tdwidth10 operator'>提交人</th>
		<th class='tdwidth20 arrivetime'>任务到达时间</th>
		<th class='tdwidth10 currentprocessor'>当前处理</th>
		<th class='tdwidth20 staytime'>停留时间</th>
		<th class='tdwidth10 operate'>操作</th>
	</tr>
	</thead>
	<tbody>
	<% 
		Date.prototype.format = function(fmt) { 
			var o = { 
        				"M+" : this.getMonth()+1,                 //月份 
        				"d+" : this.getDate(),                    //日 
       					"h+" : this.getHours(),                   //小时 
        				"m+" : this.getMinutes(),                 //分 
        				"s+" : this.getSeconds(),                 //秒 
    				}; 
   			if(/(y+)/.test(fmt)) {
            	fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    							}
     		for(var k in o) {
        		if(new RegExp("("+ k +")").test(fmt)){
             		fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         	}
     	}
    		return fmt;
			} 

	_.each(items, function(todo){ %>
				<tr>
					<td><%= todo.WORKITEMID%></td>
					<td><a onclick="openWorkitem(<%= todo.WORKITEMID%>)"><span><%= todo.TOPIC%></span></a></td>
					<td><%= todo.OPERATORNAME%></td>
					<td><%= new Date(todo.CREATTIME).format("yyyy-MM-dd hh:mm:ss") %></td>
					<td><%= todo.WORKITEMNAME%></td>
					<td><%= todo.DAYTIME%><span class="time day">天</span><%= todo.HOURTIME%><span class="time hour">小时</span> </td>
					<td><nobr><a class="min_btn tosea" onclick="openWorkitem(<%= todo.WORKITEMID%>)">查看</a>
                      <a class="min_btn unloved" onclick="attentionCancel(<%= todo.WORKITEMID%>,<%= todo.OID%>)">取消关注</a></nobr></td>
				</tr>	

	<% }); %>
	</tbody>
</table>
</script>
<script type="text/javascript">
$(function () {
	//分页查询方法
	var lovedlist = function(defaultPageNo){
		estoreCommon.pagingShow({
			pager:" .loved-listPager",
			render:" .loved-list",
			tmpl: " .loved-list-template",
			format: '[<ncnnn>]',
			defaultPageNo: defaultPageNo,
			dataCallback: function(pageNo,callback){
				var pager = this;
				estoreCommon.postJson(
					"/yigo/loved-list.action",{no:2,pageNo:pageNo},
					function(pageData){		
						callback.call(pager,pageData);
   						localeString();
					}
				);
			},
		});
	};
	lovedlist();
});
</script>
<script type="text/javascript">
function attention(workitemID,oid){
		attentionWorkflow(workitemID,oid);
  		window.location.reload();
	};
function attentionCancel(workitemID,oid){
		attentionWorkflowCancel(workitemID,oid);
  		window.location.reload();
	};
</script>
<script type="text/javascript">
function localeString(){
       $(".item.todo .todo").text(getI18N().oa_totolist.item_todo);
       $(".item.backed .backed").text(getI18N().oa_totolist.item_backed);
       $(".item.loved .loved").text(getI18N().oa_totolist.item_loved);
       $(".tdwidth10.workid").text(getI18N().oa_totolist.tdwidth10_workid);
       $(".tdwidth20.workname").text(getI18N().oa_totolist.tdwidth20_workname);
       $(".tdwidth10.operator").text(getI18N().oa_totolist.tdwidth10_operator);
       $(".tdwidth20.arrivetime").text(getI18N().oa_totolist.tdwidth20_arrivetime);
       $(".tdwidth10.currentprocessor").text(getI18N().oa_totolist.tdwidth10_currentprocessor);
       $(".tdwidth20.staytime").text(getI18N().oa_totolist.tdwidth20_staytime);
       $(".tdwidth10.operate").text(getI18N().oa_totolist.tdwidth10_operate);
       $(".tdwidth10.operator").text(getI18N().oa_totolist.tdwidth10_operator);
       $(".min_btn.todo").text(getI18N().oa_totolist.min_btn_todo);
       $(".min_btn.loved").text(getI18N().oa_totolist.min_btn_loved);
       $(".min_btn.tosea").text(getI18N().oa_totolist.min_btn_tosea);
       $(".min_btn.unloved").text(getI18N().oa_totolist.min_btn_unloved);
       $(".time.day").text(getI18N().oa_totolist.time_day);
       $(".time.hour").text(getI18N().oa_totolist.time_hour);
    };
</script>