/*翻页*/
.PagerView{
	position: relative;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.PagerView .totalPage{
	position:absolute;
	left:10px;
	top:0;
}
.PagerView .howItems{
	position:absolute;
	right:10px;
	top:0;
}
.PagerView .howItems select{
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius:5px;
	color: #666;
	width:50px;
}
.PagerView .totalPage span,
.PagerView .howItems span{
	border: 0;
	padding: 0;
	margin: 0;
}
.PagerView span,
.PagerView a{
	margin-left: 10px;
	padding: 0 10px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	border-radius: 3px;
	border: 1px solid #eee;
}
.PagerView span{
	color:#999;
}
.PagerView i{
	margin:0 3px;
	font-style:normal;
}
.PagerView a:hover,
.PagerView a:hover span{
	color: #fff;
	background:#df0b0b;
	text-decoration:none;
}
.PagerView .on,
.PagerView .cur-page {
	color: #f60;
	font-weight:bold;
	border:0;
}


.goToPageTxt input{
	height: 25px;
    width: 40px;
    border: 1px solid #eee;
    text-indent: 5px;
    border-radius: 4px;
    margin-right: 3px;
}