<% if(items.length <= 0){ %>
<p class="noInfo"><i>没有相关信息</i></p>
<% } else { %>
    <% _.forEach(items, function(item) { %>
        <div class="date-bar"><i class="date-bar-left"></i><span>${item.date}</span><i class="date-bar-left"></i></div>
        <% _.forEach(item.messageinfos, function(info) { %>
        <div class="msg-detail-content-item">
            <p class="msg-detail-date">${info.sender} ${info.timestamp}</p>
            <p class="msg-detail-info">${info.message}</p>
        </div>
        <% }); %>
    <% }); %>
<%}%>