/*
  pop 新建弹出框  **流程的content
  moved from ../documents_create2.jsp
*/
#pop_creat{
    width:850px;
}
#pop_creat h4{
    font-size:25px;
}
.flowtypes{
    float: left;
    overflow: auto;
    width: 600px;
    border-right:1px solid #d3e0e9;
    font-size:14px;
}
.flowtypes table{
    width:100%;
}
.flowtypes tr{
    border-bottom:1px solid #d3e0e9;
}
.flowtypes tr:last-child{
    border-bottom:none;
}
.flowtypes td{
    padding:5px;
}
.con_list li{
    padding-left:30px;
}
.con_list li a{
    color:#666;
    height:35px;
    line-height: 35px;
    display:block;
    text-align:left;
    padding-left: 45px;
    background: url(../images/zh_img.png) 0 0 no-repeat;
    _background: url(../images/zh_img.gif) 0 0 no-repeat;
}
.con_list li.hover{
    background:#d3e0e9;
    font-weight:bold;
}
.con_list .finace a{
    background-position:0 -20px;
}
.con_list .office a{
    background-position:0 -70px;
}
.con_list .hire a{
    background-position:0 -120px;
}
.con_list .other a{
    background-position:0 -170px;
}
.pop .tab-content2{
    /*padding-left: 235px;*/
    border-bottom: 1px solid #d3e0e9;
}
.in_cont{
    border-left: 1px solid #d3e0e9;
    overflow:auto;
    display:none;
    word-wrap: break-word;
}
.in_cont a{
    display:block;
    height:25px;
    line-height:25px;
    text-align:left;
    padding-left:18px;
    color:#666;
}
.in_cont a.hover{
    background:#d3e0e9;
}
.controls-button{
    height:25px;
    background:#eff6fa;
    padding: 10px 0;
}
.controls-button a{
    background: url(../approval/images/zh-btns-img.gif) left top no-repeat;
    text-decoration: none;
    position: relative;
    float:right;
    height: 25px;
    line-height: 25px;
    color: #006898;
    margin-right:10px;
}
.controls-button a span{
    padding: 2px 20px;
}
.controls-button a b{
    display: block;
    width: 3px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../approval/images/zh-btns-img.gif) -147px -25px no-repeat;
}



#pop_creat{
    /*background: url(../approval/images/pop_bg.gif) #fff left top repeat-x;*/
}

.pop .tab-content2{
    height:500px;
}

.fancybox-inner{
    height:407px!important;
    width:850px!important;
}



/*2013.11.22*/
.list-title{
    width:100px;
    text-align:center;
}
.list-title a{
    font-weight:bold;
    color:red;
    text-decoration:underline;
}
.list-content a{
    float:left;
}
.list-content a:hover{
    text-decoration:underline;
    color:red;
}
#pop_creat .pop_content{
    border: 1px solid #d3e0e9;
    background: #fff;
    margin-top: 20px;
    height: 360px;
    overflow: auto;
}
.close {
    position:absolute;
    background:url(../approval/images/close2.gif) no-repeat center center;
    right:0;
    top:0;
    width:20px;
    height:20px;
    cursor:pointer;
    z-index:9999;
}
.notes{
    padding:10px;
    width:200px;
    float:right;
}