@charset "utf-8";
/*
@名称: index
@功能: 仅首页
@使用方法: 继public.css之后引用；
*/

body{
	background:url(../images/main/background_2.png) no-repeat;
	background-size: cover;
	padding:30px;
}
html{
	background-color:transparent!important;
}

/*通知公告 2017.6.14 chenqj*/
.notice{
	margin-left: -30px;
	margin-bottom:20px;
}
.notice .item{
	float:left;
	width: 25%;
	height: 60px;
    line-height: 60px;
}
.notice .item .inner{
	background: url(../images/index/icons.png) no-repeat #ffffff;
	margin-left:30px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2); 
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	 box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	position:relative;

}
.notice .todo .inner{
	/*background-color:#ef8336;*/
	background-position: 15px 15px;
}
.notice .return .inner{
	background-position: 15px -147px;
}
.notice .tips .inner{
	background-position: 15px -305px;
}
.notice .unfinished .inner{
	color: #99cc99;
	background-position: 15px -470px;
}
.notice .todo .inner a{
	/*color:#fff;*/
	color:#ef8336;
}
.notice .return .inner a{
	color: #66ccff;
}
.notice .tips .inner a{
	color: #cc3333;
}
.notice .unfinished .inner a{
	color: #99cc99;
}
.notice .item .cont{
	height: 100%;
	width:100%;
}
.notice .item span{
	display: inline-block;
	text-align:center;
	font-size:20px;
	font-family: "Microsoft Yahei", "微软雅黑","宋体", Verdana, Arial, Geneva, sans-serif;
}
.notice .item .num{
	font-size:40px;
	margin-right: 15px;
	float: right;
}
.notice .item .title{
	text-align: left;
	padding-left: 60px;
}

.notice .item a:hover{
	text-decoration:none;
}
/* 按钮 */
a.min_btn,
input.min_btn,
button.min_btn{
	background: #248adf;
	border:1px solid #eee;
	display:inline-block;
	padding:0 20px;
	height: 30px;
	line-height: 30px;
	border-radius:4px;
	text-align: center;
	*display:inline;
	color:#fff!important;
	width:auto;
	margin-right:10px;
}
a.min_btn:hover,
input.min_btn:hover,
button.min_btn:hover{
	text-decoration: none;
	background: #1c7ee3;
}

/*首页任务列表 chenqj 2017.6.15*/
.task-container{
	background-color:transparent;
	position:relative;
}
.task-container .filter{
	position:absolute;
	right:30px;
	top:25px;
	padding: 5px 20px;
	color:#4f8af8;
	border:1px solid #4f8af8;
}
.task-container .filter:hover{
	color:#fff;
	background-color:#4f8af8;
	text-decoration:none;
}
.task-container .item{
	margin-bottom:20px;
}
.task-container h3{
	padding: 5px 5px;
}
.task-container h3 span{
	color:#353944;
	font-size:16px;
	font-weight: bold;
	font-family: "Microsoft Yahei", "微软雅黑","宋体", Verdana, Arial, Geneva, sans-serif;
}
.task-container .item_c{
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0,0,0,.2)
}
.task-container table{
	text-align:center;
	width:100%;
}
.task-container th{
	color:#999;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
	font-size:14px;
	border-bottom: 2px solid #d2d2d2;
	padding:12px;
	text-align:center;
	font-family: "Microsoft Yahei", "微软雅黑","宋体", Verdana, Arial, Geneva, sans-serif;	
}
.task-container td{
	padding:10px;
	font-size:12px;
	color:#666;
}
.task-container td a{
	color:#353944;
}
.task-container td a span{
	display:block;
}
.task-container tr{
	background-color:#fff;
}

.task-container tr:hover{
	background-color:#D3ECFB;
}
.item_c-listPager{
	text-align: center;
	border-top:1px solid #f2f2f2;
	padding: 10px 0;
	margin: 10px 0;
}
.item_c-listPager .pager-active{
	color: #676484;
	display: inline-block;
	padding: 0 5px;
	border: 1px solid #d2d2d2;
	background: #ffffff;
	margin:0 3px;
}
.item_c-listPager .pager-active:hover{
	background: #248adf;
	color:#ffffff;
}
/* 分页样式 */

.item_c-listPager .first-page{

}
.item_c-listPager .prev-page{

}
.item_c-listPager .block-page{

}
.item_c-listPager .cur-page{
	background: #248adf;
	color:#ffffff;
}
.item_c-listPager .next-page{

}
.item_c-listPager .last-page{

}



/* 表格宽度设置 */
.tdwidth10{ width:10%;}
.tdwidth20{ width:20%;}
.tdwidth30{ width:30%;}
.tdwidth40{ width:40%;}
.tdwidth50{ width:50%;}
.tdwidth60{ width:60%;}
.tdwidth70{ width:70%;}
.tdwidth80{ width:80%;}
.tdwidth90{ width:90%;}
.tdwidth100{ width:100%;}

.tdwidth3 { width:3%;}
.tdwidth5 { width:5%;}
.tdwidth8 { width:8%;}
.tdwidth12{ width:12%;}
.tdwidth17{ width:17%;}
.tdwidth15{ width:15%;}
.tdwidth25{ width:25%;}
.tdwidth35{ width:35%;}
.tdwidth45{ width:45%;}
.tdwidth55{ width:55%;}
.tdwidth65{ width:65%;}
.tdwidth75{ width:75%;}
.tdwidth85{ width:85%;}
.tdwidth95{ width:95%;}