<!-- Buildin [BootJsAndCss] -->
<link rel="stylesheet" href="${staticRoot}/resources/@buildin/css/reset.css" type="text/css" />
<link rel="stylesheet" href="${staticRoot}/resources/@buildin/css/public.css" type="text/css" />
<link rel="stylesheet" href="${staticRoot}/resources/@buildin/css/index.css" type="text/css" />
<script src="${staticRoot}/resources/jquery/jquery.1.9.1.js" type="text/javascript"></script>
<script src="${staticRoot}/resources/@buildin/js/sea.js" data-main="${staticRoot}/resources/@buildin/js/main"></script>
<script type="text/javascript" src="${staticRoot}/resources/tabber/tabber-jquery.js"></script>
<script type="text/javascript" src="${staticRoot}/resources/yigo-cms/js/cms.Page.js"></script>
<script type="text/javascript" src="${staticRoot}/resources/@buildin/js/zh-oa.js"></script>
<link rel="stylesheet" href="${staticRoot}/resources/yigo-cms/css/cms.Page.css" type="text/css" />
<script src="${staticRoot}/resources/@buildin/js/go-top.js" type="text/javascript"></script>
<link rel="stylesheet" id="theme-style" href="${staticRoot}/resources/@buildin/css/theme/theme-Default.css" type="text/css" />
<!-- Buildin [BootJsAndCss] END -->